@charset "UTF-8";

/* 回答はここに書いてね */

.q4_main,.q4_maine {
  display: table;
  width: 100vw;
  table-layout: fixed;
  text-align: center;
  border: 20px solid #f5f5f5;
}

.q4_main_fix {
  display: table-cell;
  background-color: #fdc8b8;
  width: 100px;
  padding: 20px;
}

.q4_main_variable {
  display: table-cell;
  background-color: #e0abd9;
  padding: 20px;
}

.q4_main_fixed {
  display: table-cell;
  background-color: #b6d8ed;
  width: 100px;
  padding: 20px;
}

.q4_maine_variable {
  display: table-cell;
  background-color: #e5d32e;
  padding: 20px;
}

.q4_maine_variabled {
  display: table-cell;
  background-color: #ec8f9a;
  padding: 20px;
}

.q4_maine_fix {
  display: table-cell;
  background-color: #8fdcad;
  width: 500px;
  padding: 20px;
}

/* 回答はここに書いてね */
