@charset "UTF-8";

.q3_table {
  table-layout: auto;
  width: 100%;
  text-align: center;
}

.q3_th, .q3_td {
  border: 1px solid #dedede;
  padding: 10px;
}

.q3_td {
  font-size: 16px;
  line-height: 22px;  font-size: 16px;
  line-height: 22px;
}

.q3_th, .q3_td:first-child {
  color: #ffffff;
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
}

.q3_tr:nth-child(2n+1) {
  background-color: #ecf1f2;
}

.q3_tr:last-child {
  border-top: 2px dashed #000; 
}


/* 回答はここに書いてね */
