@charset "UTF-8";

/* 回答はここに書いてね */

.q6_q1main {
  text-align: center;
}

.q6_text_align {
  display: inline-block;
  width: 90px;
  background-color: #E6F2FF;
  padding: 10px 0;
}

.q6_margin {
  width: 90px;
  background-color: #e6f2ff;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
}

.q6_head {
  display: table;
}

.q6_table {
  width: 300px;
  height: 200px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.q6_table_main {
  display: inline-block;
  background-color: #fff;
  padding: 10px;
}

.q6_flex_main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.q6_flex_box {
  background-color: #fff;
  padding: 10px;
}

.q6_relative {
  position: relative;
}

.q6_fixed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.q6_variable {
  position: relative;
}

.q6_variable_main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* 回答はここに書いてね */
